.submissionItem {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #00000020;
}

.submissionItem h3 {
  width: 100%;
}

.submissionItem-actions {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}


.submissionItem-actions h3 {
  width: 25rem;
  padding-right: 1rem;
  text-align: end;
}

.green {
  color: rgb(17, 146, 34);
}

.red {
  color: red;
}